<header>
    <nav>
        <ul>
            <li><a href="/"></a>Home</li>
            <li><a href="/:id"></a>Detalle de la Banda</li>
            <li><a href="/genero/:genero"></a>Buscar por Genero</li>
        </ul>
    </nav>
</header>